<script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ template "_internal/google_analytics_async.html" . }}
<script src="https://use.fontawesome.com/4b39890846.js"></script>
<!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){m['MailerLiteObject']=e;function f(){
var c={a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l;_.parentNode.insertBefore(r,_);
})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

ml('accounts', '545367', 'd9d8w0i9f8', 'load');
</script>
<!-- End MailerLite Universal -->

<!-- Start of Async Drift Code -->
<!-- <script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, r;
    e = 3e5, r = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + r + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.2.0'
drift.load('gnxt4akfrize')
</script> -->
<!-- End of Async Drift Code -->